@model eHotels.Models.HotelChains

@{
    ViewData["Title"] = "Delete";
}

<div class="container my-5">
    <h1 class="mb-4">Delete Hotel Chain</h1>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title mb-4">Are you sure you want to delete this?</h3>

            <dl class="row mb-4">
                <dt class="col-sm-3">Street</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Street)</dd>

                <dt class="col-sm-3">City</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.City)</dd>

                <dt class="col-sm-3">Province</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Province)</dd>

                <dt class="col-sm-3">Postal Code</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.PostalCode)</dd>

                <dt class="col-sm-3">Hotels</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Hotels)</dd>

                <dt class="col-sm-3">Rating</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Rating)</dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Name" />

                <div class="d-flex justify-content-between">
                    <input type="submit" value="Delete" class="btn btn-danger mr-3" />

                    <div class="row mb-3">
                        <div class="col-12">
                            <a href="@Url.Action("Index", "HotelChain")" class="btn btn-primary">Hotel Chains</a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
