@model eHotels.Models.HotelChains
@using Microsoft.AspNetCore.Mvc

@{
    ViewData["Title"] = "Details";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="text-center container py-4">
    <h1 class="mb-4">@Model.Name</h1>
    <div class="container">
        <div class="card border-0 rounded-0 shadow mb-4">
            <div class="card-body d-flex justify-content-center align-items-center" style="height: 200px;">
                <a href="@Url.Action("Create", "Hotel")" class="stretched-link"></a>
                <h4 class="text-center">Register a hotel</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card border-0 rounded-0 shadow mb-4">
            <div class="card-body d-flex justify-content-center align-items-center" style="height: 200px;">
                <a href="@Url.Action("Create", "CentralOffice")" class="stretched-link"></a>
                <h4 class="text-center">Register a central office</h4>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <script>
    $(function() {
        var name = "@Model.Name";
        var encoded_name = encodeURIComponent(name);
        $("#centralOffices-container").load("/CentralOffice/IndexChain?name=" + encoded_name);
    });
        </script>

        <h3 class="mb-4">Central Offices</h3>
        <div id="centralOffices-container"></div>

        <script>
    $(function() {
        var name = "@Model.Name";
        var encoded_name = encodeURIComponent(name);
        $("#hotels-container").load("/Hotel/IndexChain?name=" + encoded_name);
    });
        </script>
        <h3 class="mb-4">Hotels</h3>
        <div id="hotels-container"> </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <a href="@Url.Action("Index", "HotelChain")" class="btn btn-primary">Hotel Chains</a>
    </div>
</div>

