@model IEnumerable<eHotels.Models.HotelChains>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.2.3/js/bootstrap.min.js"></script>

@if (!Model.Any())
{
    <p>No hotel chain found.</p>
}
else
{
    <div class="container-fluid pb-5">
        <div class="row g-4 d-flex flex-nowrap pb-2" style="overflow-x: scroll;">
            @foreach (var item in Model)
            {
                <div class="d-inline-block" style="width: 300px;">
                    <div class="container text-center"><i class="bi bi-building" style="font-size: 150%;"></i></div>

                    <div class="card-body" style="height: 200px;">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Street)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.Province) , @Html.DisplayFor(modelItem => item.PostalCode)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.HotelsCount) hotels</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-secondary me-2" asp-action="Details" asp-route-id="@item.Name">Details</a>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Name">Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.Name" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger ms-2">Delete</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>

}
