@model IEnumerable<eHotels.Models.HotelPhoneNumbers>

@{
    ViewData["Title"] = "Index";
}


@if (!Model.Any())
{
    <p>No phone numbers found.</p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContactName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactName)
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ContactName">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ContactName">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

}
