@model eHotels.Models.Hotels
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container-fluid">
    
    <div class="text-center container py-4">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Street)</p>
                    <p class="card-text">@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.Province) @Html.DisplayFor(model => model.PostalCode)</p>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Hotel_ID" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-4">
            <script>
    $(function() {
        var hotel_ID = "@Model.Hotel_ID";
        var encoded_hotel_ID = encodeURIComponent(hotel_ID);
        $("#rooms-container").load("/Room/IndexHotel?hotel_ID=" + encoded_hotel_ID);
    });
            </script>
            <h3 class="mb-4">Rooms</h3>
            <div id="rooms-container"></div>
        </div>
    </div>
        
    <div class="col-12">
        <a href="@Url.Action("Index", "HotelChain")" class="btn btn-primary">Hotel Chains</a>
    </div>
</div>



