@model IEnumerable<eHotels.Models.Rooms>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@if (!Model.Any())
{
    <p>No rooms found.</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Room number : @Html.DisplayFor(modelItem => item.RoomNumber)</h5>
                        <p class="card-text">@Html.DisplayNameFor(modelItem => item.Capacity) : @Html.DisplayFor(modelItem => item.Capacity)</p>
                        <p class="card-text">@Html.DisplayNameFor(modelItem => item.Extendable) : @Html.DisplayFor(modelItem => item.Extendable)</p>
                        <p class="card-text">@Html.DisplayNameFor(modelItem => item.View) : @Html.DisplayFor(modelItem => item.View)</p>
                        <p class="card-text">@Html.DisplayNameFor(modelItem => item.Price) : @Html.DisplayFor(modelItem => item.Price) @Html.DisplayFor(modelItem => item.Currency)</p>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-secondary me-2" asp-action="Details" asp-route-id="@item.RoomID">Details</a>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.RoomID">Edit</a>
                            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.RoomID">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

