@model IEnumerable<eHotels.Models.Rooms>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hotel_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extendable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.View)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.RoomNumber)</h5>
                    <p class="card-text">@Html.DisplayNameFor(modelItem => item.Capacity) : @Html.DisplayFor(modelItem => item.Capacity)</p>
                    <p class="card-text">@Html.DisplayNameFor(modelItem => item.Extendable) : @Html.DisplayFor(modelItem => item.Extendable)</p>
                    <p class="card-text">@Html.DisplayNameFor(modelItem => item.View) @Html.DisplayFor(modelItem => item.View)</p>
                    <p class="card-text">@Html.DisplayNameFor(modelItem => item.Price) : @Html.DisplayFor(modelItem => item.Price) @Html.DisplayNameFor(modelItem => item.Currency)</p>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-secondary me-2" asp-action="Details" asp-route-id="@item.RoomID">Details</a>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.RoomID">Edit</a>
                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.RoomID">Delete</a>
                    </div>
                </div>
            </div>
        </div>
}
    </tbody>
</table>
